<h1>Product: <%= @the_product.title %></h1>

<h2>Owner: <%= @owner.name %></h2>

<p>
Description: <%= @the_product.description %>
</p>

<p>
Deadline: <%= @the_product.deadline %>
</p>

<h2> Current bid summary </h2>

<!-- if any... -->
<% if @bids.length >= 1%>
	<ol>
			<% @bids.each do |bid| %>
		<li>
				<p> Name: <%= @users.find(bid.user_id).name %> </p>
				<p> Bid amount: $<%= bid.amount %> </p>
		</li>
			<% end %>
	</ol>
<% else %>
	None
<% end %>

<h2>Actions</h2>

<% if @can_bid %>
	<p>
	<%= link_to("Bid on this product", "/users/#{params[:user_id]}/products/#{@the_product.id}/bids/new") %>
	</p>
<% else %>
	<p>
	Winning bidder: <%= @winning_bidder %>
	</p>
<% end %>

<p>
<%= link_to("Return to list of products", "/users/#{params[:user_id]}/products") %>
</p>









