<h1>Contacts Info Page</h1>

	<p>Name: <%= @contact.name %></p>
	<p>Address: <%= @contact.address %></p>
	<p>Phone number: <%= @contact.phone_number %></p>
	<p>Email address: <%= @contact.email_address %></p>


<p><%= link_to "Add contacts", "/contacts/new" %></p>