<h1>Movie Ratings</h1>

<form action ="/question_rating" method="POST" >
	<p>
	What was the rating for the following movie?
	</p>
<!-- <input type="hidden" name = "movie_search" value = "<%= @movie_search%>"> -->

<p><img height="800" width="530" src="<%= @rand_movie.poster%>"/></p>

<ul>
<% @result.each_with_index do |movie, index|  %>
<p><li> <%= movie.rating%> 
	<input type="checkbox" name = "movie_rating" value = "<%=movie.rating%>"> </li></p>
<% end %>
</ul>
	<button type="submit" name = "rand_rating" value = "<%= @rand_rating%>">Submit</button>
</form>
