
<h1>Please edit your blog post</h1>

<form action ="/update_submission" method="POST">
	<p>
	Title: <input type="text" name = "title" value = "<%= @blog_by_draft_index.title %>">
	</p>

	<p>
	Category: <input type="text" name = "category" value = "<%= @blog_by_draft_index.category%>">
	</p>

	<p>
	Author: <input type="text" name = "author" value = "<%= @blog_by_draft_index.author %>">
	</p>

	<p>
	<label for="content">Content: </label>
	</p>
	
	<textarea rows="4" cols="50" name = "content" value = "<%= @blog_by_draft_index.text %>"></textarea>
	
	<p>
	<button type="submit" name ="index" value = "<%= @draft_index %>">Submit</button>
	</p>
</form>