<p>Original text: <%= @text %> </p>
<p>Word count: <%= @word_count %> </p>
<p>Reading time: <%= @reading_time %> seconds </p>
<p>Frequency: <%= @word_frequency %></p>

<p><%= link_to "Home Page", "/" %> </p>